body {
    text-align: center;
    background: linear-gradient(lightblue, lightgreen);
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

#marqeeStyle {
    background-color: cornflowerblue;
}

#iframeVDO {
    margin-top: 70px;
    width: 1000px;
    height: 550px;
}

#schoolimg {
    margin-top: 50px;
}

#note {
    background-color: blue;
    color: aliceblue;
}

a {
    color: aliceblue;
}

a:hover {
    color: chartreuse;
}

.img {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.img img {
    width: 100%;
    height: 300px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}
#playgroundpic {
    width: 300px;
    height: 200px;
}
#gatepic {
    width: 300px;
    height: 200px;
}
#ul1 {
    background-color: linear-gradient(lightblue , lightgreen);
}
#ul2 {
    background-color: linear-gradient(lightgreen , seagreen);
}